@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  color: #3b566e !important;
}
h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 100px;
}
h3 {
  margin-top: 5%;
}
h5 {
  margin-top: 2%;
  font-weight: 300;
}
ul {
  list-style-type: none;
}
li {
  padding-bottom: 1%;
}
.navbar-brand {
  color: #ffffff !important;
}
.nav-wrapper {
  background-color: #06283d !important;
}
.nav-link {
  color: #ffffff !important;
}
.btn {
  background-color: #2e86de !important;
  outline: none;
  border: none !important;
  color: white;
}
.btn:hover {
  background-color: #2ed4de !important;
}
.btn2 {
  background-color: #2e86de !important;
}
.btn2:hover {
  background-color: #2ed4de !important;
}
.span-color {
  color: #2e86de !important;
}
.card {
  border-width: 0;
}

.highlight {
  position: relative;
  color: #ffffff;
  font-weight: 400;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 105%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #06283d, #47b5ff);
}
.footer {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0px;
  color: #8e8e93;
}
